            <div class="main">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="header">
                                <h1>This: {{ aboutModel.headerText }}</h1>
                            </div>
                            <div>Email: </div>
                        </div>
                        <!-- / col-xs-12 -->
                    </div>
                    <!-- / row -->
                </div>
            </div>
            <!-- / main -->          